@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

html, body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    height: 100%;
}

body {
    background-color: #f6f6f6;
}

.no-chrome {
  color: white;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  padding-top: 15%;
}

.sv_body {
  position: relative;
  float: left;
  width: 100%;
}

.sv_nav {
    clear: both;
    text-align: right;
}

.sv_nav input {
  color: white;
  font-size: 16px;
  font-weight: 400;
  background-color: #e63a74;
  border: none;
  margin: 0 0 0 8px !important;
  padding: 6px 12px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
}

.sv_nav input:first-child {
  margin: 0 !important;
}

.sv_nav input:hover {
  color: #e63a74;
  background-color: white;
  font-weight: 400;
}

.centered {
    margin: 0 auto;
    float: none;
}

.hidden {
    display: none;
}

#welcomeMessage, #endMessage {
    width: 100%;
    min-height: 100%;
    background-image: url(../images/background-jumbo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

.survey-container {
  padding-bottom: 50px;
  overflow-x: hidden;
}

.welcome {
    color: #e63a74;
    font-weight: 400;
    line-height: 50px;
    margin-top: 50px;
}

.intro-text {
    color: white;
    font-size: 16px;
    line-height: 30px;
}

.intro-text span {
    color: #e63a74;
}

.hlLogo {
    display: block;
    margin: 0 auto;
    width: 137px;
    margin-top: 15px;
    height: 62px;
}

.hlLogoLarge {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    max-width: 237px;
    height: auto;
}

.startButton {
    margin-top: 30px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    background-color: #e63a74;
    border: none;
    text-transform: uppercase;
    -webkit-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
}
@media only screen and (max-width: 425px) {
  .startButton {
    margin-bottom: 50px;
  }
}

.startButton:hover {
    color: #e63a74;
    background-color: white;
    font-weight: 400;
}

.sv_progress {
  width: inherit !important;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #f5f5f5;
  text-align: center;
  color: white;
  overflow: hidden;
  text-transform: uppercase;

  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sv_progress > div {
  background: #e63a74;
  height: 100%;
  line-height: 20px;
  font-size: 12px;
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}

/* Inputs */
.sv_row {
    text-align: center;
    margin-bottom: 30px;
}

.sv_row:first-child {
  margin: 0;
}

h4.sv_p_title {
    font-size: 30px;
    color: #e63a74;
    text-align: center;
    font-weight: 400;
    line-height: 50px;
    margin-top: 50px;
}

.sv_row h5 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 15px;
}

.sv_row input, .sv_row textarea, .sv_row select {
    min-width: 126px;
    border: 1px solid #e63a74;
    padding: 6px 12px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.sv_row input {
  height: 34px;
  line-height: 34px;
}
@media only screen and (max-width: 425px) {
  .sv_row input {
      width: 100%;
  }
}

.sv_row textarea {
  resize: vertical;
}
@media only screen and (max-width: 425px) {
  .sv_row textarea {
      width: 100%;
  }
}

.sv_row input[type="file"] {
  margin: 0 auto;
  height: 36px;
  line-height: 24px;
}
@media only screen and (max-width: 425px) {
  .sv_row input[type="file"] {
      width: 100%;
  }
}

.sv_row #preview {
  margin-top: 20px;
}

.sv_row select option {
  font-weight: 300;
}

.sv_row input[type="radio"] {
  height: 20px;
  line-height: 20px;
  width: 20px;
  min-width: inherit;
  margin: 0;
}

.sv_q_radiogroup {
  width: auto !important;
  display: inline-block;
  margin: 0 30px 0 0;
}

.sv_q_radiogroup span {
  font-weight: 300;
  margin: 0 0 0 8px !important;
  position: relative;
  top: -5px;
}

#sq_107 .sv_q_radiogroup span {
  background: none !important;
}

#sq_100i {
    opacity: 0;
    z-index: -1;
    text-indent: -9999px;
    position: absolute;
}

#sq_100 button.btn-default {
    border-color: #e63a74;
    font-weight: 300;
}

#sq_100 .dropdown-menu {
    left: 50% !important;
    margin-left: -206px !important;
}
@media only screen and (max-width: 425px) {
  #sq_100 .dropdown-menu {
      width: 280px;
      margin-left: -140px !important;
  }
}

#sq_100 .dropdown-menu > li > a {
  font-weight: 300;
}

/* Relation to the Netherlands */
.subTitle {
    font-size: 18px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 8px;
    color: #e63a74;
}

/* Timeline page*/
@media only screen and (min-width: 426px) {
  .timeline:before {
      content: '';
      display: block;
      position: absolute;
      top: 225px;
      bottom: 25px;
      left: 50%;
      border-left: 1px solid #e63a74;
  }

  .timeline .sv_row {
      position: relative;
      clear: both;
      width: 50%;
      padding: 0 26px;
      margin-bottom: 50px;
  }

  .timeline .sv_row:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 20px;
      height: 20px;
      background: #e63a74;

      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
  }

  .timeline .sv_row:nth-of-type(even) {
      float: right;
      text-align: left;
  }

  .timeline .sv_row:nth-of-type(even):before {
      left: -10px;
  }

  .timeline .sv_row:nth-of-type(odd) {
      float: left;
      text-align: right;
  }

  .timeline .sv_row:nth-of-type(odd):before {
      right: -10px;
  }
}

.journeyIntroText {
    color: black;
    padding-top: 15px;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 50px;
}

.timelineTitle {
    font-size: 16px;
    color: #e63a74;
    font-weight: 400;
    margin-bottom: 2px;
}

/* Radio images */
.radio-images .sv_q_radiogroup {
    width: auto !important;
    display: inline-block;
}

.radio-images label {
    margin: 15px;
}
@media only screen and (max-width: 768px) {
  .radio-images label {
    margin: 6px;
  }
}

.radio-images label > input {
    position: absolute;
    visibility: hidden;
    margin: 0;
}

.radio-images label > span {
    position: relative;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 170px;
    color: transparent;
    height: 170px;
    margin: 0 !important;
    text-indent: -9999px;
}
@media only screen and (max-width: 768px) {
  .radio-images label > span {
    width: 110px;
    height: 100px;
  }
}

.radio-images label > input + span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e63a74;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s, visibility .2s;
  transition: opacity .2s, visibility .2s;
}
.radio-images label > input:checked + span:before {
  opacity: 0.43;
  visibility: visible;
}

.radio-images label > input + span:after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: 5px solid #e63a74;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s, visibility .2s;
  transition: opacity .2s, visibility .2s;
}
.radio-images label > input:checked + span:after {
  opacity: 1;
  visibility: visible;
}
